.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

body{
  width: 100%;
  background-color: #eaeaea;
}

header{
  width: 100%;
  height: 80px;
  /* position: fixed; */
  background-color: white;
}
header img{
  padding: 10px 0 10px 10px;
  width: 45%;
  height: 80px;
  object-fit: contain;
}

.fade_topimg{
  height: 70vh;
  /* padding-top: 80px; */
  margin-bottom: 10vh;
}
.fade_topimg img{
  /* position: fixed; */
  width: 100%;
  height: 70vh;
  object-fit: cover;
  /* z-index: -10; */
}

main{
  margin: 0 auto;
}
#about{
  margin-bottom: 100px;
}
/* HAL幼稚園について */
#about .container{
  height: 85vh;
  width: 90%;
  max-width: 1380px;
  margin: 0 auto;
  margin-bottom: 2vh;
  /* background-color: #eaeaea; */
}
#about dt{
  display: flex;
  align-items: center;
  height: 15vh;
  position: relative;
  right: 17%;
  padding: 15px 15px 15px 20px;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-size: 1.3rem;
  line-height: 1.6rem;
  width: 60vw;
  max-width: 700px;
  border-radius: 10px;
}
#about dt::after{
  content: " ";
  position: absolute;
  right: -15px;
  bottom: -15px;
  width: 100%;
  height: 100%;
  background-color: #c0c0c08b;
  z-index: -1;
  border-radius: 10px;
}
#about dd{
  display: flex;
  align-items: center;
  height: 40vh;
  position: absolute;
  padding: 1rem 5%;
  left: 10%;
  right: 0;
  margin: auto;
  transform: translateY(-5%);
  border-radius: 10px;
  background-color: #adffad84;
  /* font-weight: bold; */
  color: rgb(80, 80, 80);
  line-height: 1.7rem;
  font-size: 16px;
  width: 80%;
  max-width: 800px;
  z-index: -10;
}
#about dl img{
  object-fit: cover;
  width: 70%;
  max-width: 700px;
  margin-left: 8%;
  position: absolute;
  border-radius: 10px;
  transform: translateY(115%);
  height: 30vh;
  box-shadow: 15px 15px 0px 0 #c0c0c08b;
}


/* 最新のトピックス */
#topix{
  margin: 0 auto 100px auto;
  width: 90%;
  max-width: 1380px;
  height: 41vh;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#topix h2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0 15px 0;
  /* background-color: #f5f5f5; */
}
#topix ul{
  display: flex;
  margin: auto;
  overflow-x: auto;
  width: 90%;
  max-width: 1380px;
}
#topix ul li{
  vertical-align: top;
  text-align: center;
  height: 30vh;
  flex: 0 0 220px;
  margin: 10px 10px;
  background-color: #eaeaea;
  /* border: solid 2px rgb(158, 158, 158); */
  border-radius: 10px;
}
#topix ul li img{
  height: 15vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1vh;
}
#topix ul li a{
  display: block;
  height: 28vh;
  padding: 10px;
}
#topix ul li span{
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

/* 新園舎 */
#new_news{
  margin: 0 auto 100px auto;
}
#new_news dt, #si dt, #special_sub dt, #services dt{
  font-size: 26px;
  font-weight: bold;
  margin: 0 auto 25px auto;
  line-height: 32px;
  max-width: 1150px;
  padding-left: 3%;
}
#new_news img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 25px;
}
#new_news dd span{
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
#new_news dd{
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  /* height: 30vh; */
  color: gray;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.6rem;
}
#new_news a, #si a , #services a{
  display: block;
  margin:  0 auto;
  color: gray;
  background-color: white;
  border: solid 2px rgba(128, 128, 128, 0.8);
  border-radius: 15px;
  line-height: 40px;
  font-size: 19px;
  text-align: center;
  width: 200px;
}


/* SI遊び */
#si {
  margin: 0 auto 100px auto;
}
#si img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 25px;
}
#si dd{
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  /* height: 30vh; */
  /* font-weight: bold; */
  color: gray;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.6rem;
}


/* 特別講師による指導 */
#special_sub{
  margin: 0 auto 100px auto;
}
#special_sub > img{
  width: 100%;
  height: 25vh;
  object-fit: cover;
  margin-bottom: 25px;
}
#special_sub dd span{
  display: block;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
}
#special_sub dd  {
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  color: gray;
  border-radius: 10px;
  /* padding: 10px; */
  font-size: 15px;
  line-height: 17px;
}
.special_sub_card{
  display: block;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 40px 0;
  padding: 20px 0 5px 0;
}
.special_sub_card h4{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
#special_sub ul{
  display: flex;
  margin: 20px auto 10px auto;
  overflow-x: auto;
  width: 90%;
  background-color: #f5f5f5;
}
#special_sub ul li{
  vertical-align: top;
  text-align: center;
  height: 25vh;
  padding: 10px;
  flex: 0 0 200px;
  margin: 10px 10px;
  background-color: #eaeaea;
  /* border: solid 2px rgb(158, 158, 158); */
  border-radius: 10px;
}
#special_sub ul li img{
  height: 15vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#special_sub ul li p{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  line-height: 1.4rem;
  padding: 10px;
}
#special_sub ul li span{
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

#services section{
  margin: 0 auto 100px auto;
}
#services img{
  width: 100%;
  height: 25vh;
  object-fit: cover;
  margin-bottom: 25px;
}
#services dd{
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  /* height: 30vh; */
  /* font-weight: bold; */
  color: gray;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.6rem;
}


/* パンフレット */
#services h2, #pamphlet h2{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 70%;
  max-width: 500px;
  margin: 100px auto 60px auto;
  padding: 15px 0;
  background-color: #f5f5f5;
  border-radius: 40px;
}
#pamphlet{
  margin: 0 auto 100px auto;
}
#pamphlet h3{
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: gray;
}
#pamphlet ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 0 5%;
  overflow-x: auto;
  width: 70%;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#pamphlet ul h4{
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  color:rgb(81, 81, 81)
}
#pamphlet li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 180px;
  width: 100%;
}
#switch{
  display: block;
  margin: 0 auto 40px auto;
  color: gray;
  background-color: white;
  border: solid 2px rgba(128, 128, 128, 0.8);
  border-radius: 15px;
  line-height: 40px;
  font-size: 17px;
  height: 40px;
  width: 170px;
  text-align: center;
}
.card {
  position: relative;
  width: 250px;
}
.card_reverse {
  position: absolute;
  top: 0;
  left: 0;
}
/* 表面の表示 */
.is-surface .card_surface {
  opacity: 1;
  transform: rotateY(0deg);
  transition:
      opacity 100ms 150ms,
      transform 300ms 150ms;
}
.is-surface .card_reverse {
  opacity: 0;
  transform: rotateY(90deg);
  transition:
      opacity 50ms 200ms,
      transform 300ms;
}
/* 裏面の表示 */
.is-reverse .card_surface {
  opacity: 0;
  transform:rotateY(90deg);
  transition:
      opacity 50ms 200ms,
      transform 300ms;
}
.is-reverse .card_reverse {
  opacity: 1;
  transform:rotateY(0deg);
  transition:
      opacity 100ms 150ms,
      transform 300ms 150ms;
}

footer{
  /* height: 20vh; */
  background-color: #f5f5f5;
  padding: 30px;
  /* background-image: url(../images/HAL_logo_row.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 20vh; */
}
footer ul{
  margin: 0 auto;
  width: 80%;
  max-width: 380px;
  text-align: center;
}
footer li{
  font-size: 16px;
  line-height: 45px;
  height: 45px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin-bottom: 10px;
}
.footer_logo{
  background-image: url(../images/HAL_logo_row.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: 240px;
  height: 120px;
}
.footer_btn{
  display: block;
  margin: 25px auto;
  padding: 12px 0;
  color: gray;
  background-color: #adffad84;
  border: solid 1px rgba(128, 128, 128, 0.308);
  width: 70%;
  max-width: 400px;
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
}
footer span{
  display: block;
  text-align: center;
  font-size: 12px;
  line-height:80px;
  margin-top: 10px;
  color: gray;
  background-color: #f5f5f5;
}

/* PC */
@media screen and (min-width:960px){
  
}