.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

body{
  width: 100%;
  background-color: #eaeaea;
}

header{
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  z-index: 9999;
}
header img{
  margin: auto;
  padding: 10px 0 10px 10px;
  width: 45%;
  height: 80px;
  object-fit: contain;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #5bbb359f;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #296c2d;
  transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

.fade_topimg{
  height: 50vh;
  /* padding-top: 80px; */
  margin-bottom: 17vh;
  z-index: -9999;
}
.fade_topimg img{
  /* position: fixed; */
  width: 100%;
  height: 70vh;
  object-fit: cover;
  z-index: -9999;
}

main{
  margin: 0 auto;
  /* background-color: #eaeaea; */
}
#about{
  margin-bottom: 50px;
}
/* HAL幼稚園について */
#about .container{
  height: 85vh;
  width: 90%;
  max-width: 1380px;
  margin: 0 auto;
  margin-bottom: 2vh;
  /* background-color: #eaeaea; */
}
#about dt{
  display: flex;
  align-items: center;
  height: 15vh;
  position: relative;
  right: 17%;
  padding: 15px 15px 15px 20px;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-size: 1.3rem;
  line-height: 1.6rem;
  width: 60vw;
  max-width: 700px;
  border-radius: 10px;
}
#about dt::after{
  content: " ";
  position: absolute;
  right: -15px;
  bottom: -15px;
  width: 100%;
  height: 100%;
  background-color: #c0c0c08b;
  z-index: -1;
  border-radius: 10px;
}
#about dd{
  display: flex;
  align-items: center;
  height: 43vh;
  position: absolute;
  padding: 1rem 5%;
  left: 13%;
  right: 0;
  margin: auto;
  transform: translateY(-5%);
  border-radius: 10px;
  background-color: #adffad84;
  /* font-weight: bold; */
  color: rgb(80, 80, 80);
  line-height: 1.7rem;
  font-size: 16px;
  width: 80%;
  max-width: 1000px;
  z-index: -10;
}
#about dl img{
  object-fit: cover;
  width: 70%;
  max-width: 700px;
  margin-left: 6%;
  position: absolute;
  border-radius: 10px;
  transform: translateY(125%);
  height: 30vh;
  box-shadow: 15px 15px 0px 0 #c0c0c08b;
  z-index: -20;
}


/* 最新のトピックス */
#topix{
  margin: 0 auto 100px auto;
  width: 90%;
  max-width: 1380px;
  height: 41vh;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#topix h2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0 15px 0;
  /* background-color: #f5f5f5; */
}
#topix ul{
  display: flex;
  margin: auto;
  overflow-x: auto;
  width: 90%;
  max-width: 1380px;
}
#topix ul li{
  vertical-align: top;
  text-align: center;
  height: 30vh;
  flex: 0 0 220px;
  margin: 10px 10px;
  background-color: #eaeaea;
  /* border: solid 2px rgb(158, 158, 158); */
  border-radius: 10px;
}
#topix ul li img{
  height: 15vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1vh;
}
#topix ul li a{
  display: block;
  height: 28vh;
  padding: 10px;
}
#topix ul li span{
  display: block;
  font-size: 15px;
  margin-top: 2vh;
}

/* 新園舎 */
#new_news, #si, #special_sub, #services section, #pamphlet{
  margin: 0 auto 100px auto;
}
#new_news dt, #si dt, #special_sub dt, #services dt{
  font-size: 26px;
  font-weight: bold;
  margin: 0 auto 25px auto;
  line-height: 32px;
  max-width: 1150px;
  padding-left: 3%;
}
#new_news img, #si img, #services img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 50px;
}
#new_news dd span{
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
#new_news dd, #si dd, #services dd{
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  /* height: 30vh; */
  color: gray;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.6rem;
}
#new_news a, #si a , #services a{
  display: block;
  margin:  0 auto;
  color: gray;
  background-color: white;
  border: solid 2px rgba(128, 128, 128, 0.8);
  border-radius: 15px;
  line-height: 40px;
  font-size: 19px;
  text-align: center;
  width: 200px;
  transition: 0.5s ;
}
#new_news a:hover, #si a:hover , #services a:hover{
  background-color: #adffad84;
}

/* SI遊び */

/* 特別講師による指導 */
#special_sub > img{
  width: 100%;
  height: 25vh;
  object-fit: cover;
  margin-bottom: 25px;
}
#special_sub dd span{
  display: block;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
}
#special_sub dd  {
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
  color: gray;
  border-radius: 10px;
  /* padding: 10px; */
  font-size: 15px;
  line-height: 17px;
}
.special_sub_card{
  display: block;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 40px 0;
  padding: 20px 0 5px 0;
}
.special_sub_card h4{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
#special_sub ul{
  display: flex;
  margin: 20px auto 10px auto;
  overflow-x: auto;
  width: 90%;
  background-color: #f5f5f5;
}
#special_sub ul li{
  vertical-align: top;
  text-align: center;
  height: 25vh;
  padding: 10px;
  flex: 0 0 200px;
  margin: 10px 10px;
  background-color: #eaeaea;
  /* border: solid 2px rgb(158, 158, 158); */
  border-radius: 10px;
}
#special_sub ul li img{
  height: 15vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#special_sub ul li p{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  line-height: 1.6rem;
  padding: 10px;
}
#special_sub ul li span{
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

/* サービス */


/* パンフレット */
#services h2, #pamphlet h2{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 70%;
  max-width: 500px;
  margin: 100px auto 60px auto;
  padding: 15px 0;
  background-color: #f5f5f5;
  border-radius: 40px;
}
#pamphlet h3{
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  width: 90%;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: gray;
}
#pamphlet ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 0 5%;
  overflow-x: auto;
  width: 70%;
  max-width: 500px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#pamphlet ul h4{
  width: 100%;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  color:rgb(81, 81, 81)
}
#pamphlet li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 180px;
  width: 100%;
}
#switch{
  display: block;
  margin: 0 auto 40px auto;
  color: gray;
  background-color: white;
  border: solid 2px rgba(128, 128, 128, 0.8);
  border-radius: 15px;
  line-height: 40px;
  font-size: 18px;
  height: 40px;
  width: 170px;
  text-align: center;
  transition: 0.5s;
}
#switch:hover{
  background-color: #adffad84;
}
.card {
  position: relative;
  width: 250px;
}
.card_reverse {
  position: absolute;
  top: 0;
  left: 0;
}
/* 表面の表示 */
.is-surface .card_surface {
  opacity: 1;
  transform: rotateY(0deg);
  transition:
      opacity 100ms 150ms,
      transform 300ms 150ms;
}
.is-surface .card_reverse {
  opacity: 0;
  transform: rotateY(90deg);
  transition:
      opacity 50ms 200ms,
      transform 300ms;
}
/* 裏面の表示 */
.is-reverse .card_surface {
  opacity: 0;
  transform:rotateY(90deg);
  transition:
      opacity 50ms 200ms,
      transform 300ms;
}
.is-reverse .card_reverse {
  opacity: 1;
  transform:rotateY(0deg);
  transition:
      opacity 100ms 150ms,
      transform 300ms 150ms;
}

footer{
  /* height: 20vh; */
  background-color: #f5f5f5;
  padding: 30px;
  /* background-image: url(../images/HAL_logo_row.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 20vh; */
}
footer ul{
  margin: 0 auto;
  width: 80%;
  max-width: 380px;
  text-align: center;
}
footer li{
  font-size: 16px;
  line-height: 45px;
  height: 45px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin-bottom: 10px;
}
.footer_logo{
  background-image: url(../images/HAL_logo_row.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: 240px;
  height: 120px;
}
.footer_btn{
  display: block;
  margin: 25px auto;
  padding: 12px 0;
  color: gray;
  background-color: #adffad84;
  border: solid 1px rgba(128, 128, 128, 0.308);
  width: 70%;
  max-width: 400px;
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
}
footer span{
  display: block;
  text-align: center;
  font-size: 12px;
  line-height:80px;
  margin-top: 10px;
  color: gray;
  background-color: #f5f5f5;
}